@import '~bootstrap/dist/css/bootstrap.min.css';



.allTicket-flex{
    display: flex;
  } 
  .nav-page{
    background-color:#E59866;
    height: 50px;
    color: #ffffff;
  }
  .nav-list .page-link{
    color: rgb(23, 22, 22);
    column-gap: 10px;
  }
  .pagination{
      column-gap: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
      /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
  }
  .page-item{
    font-size: 14px;
  }
  li.page-item.active{
    background: white;
    width: 30px;
    height:30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 2;
  }
  .prev-btn, .next-btn{
    width: 48px !important;
    background-color: #fff;
  }
  .prev-btn{
    border-radius: 8px 0 0 8px !important;
  }
  .next-btn{
    border-radius: 0 8px 8px 0 !important;
  }
  .profile-createPage{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 181, 181);
    height: 4rem;
    padding-left: 10px;
    align-items: center;
  }
  .ticket-number h2{
    padding: 10px 0px 0px 13rem
  }
  .adelete-model{
    border-collapse: collapse;
  }
  li.page-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    color:#000;
    border-radius: 50%;
    padding: 8px;
  }
  li.page-item.active .page-link{
    background-color: rgb(156, 151, 247);
    border: 0;
    color:#fff;
  }
  .charts-status{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
  }
  