
.tech_img_container{
    width: 50% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.login_container{
    width: 40%;
    font-size: 20px;
    border-radius: 5px;
}
form{
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    color: #01131f;
}
.login_field>h5{
    color: red;
}
.login_field{
    margin-top: 10px;
}
.login_field>select{
    border-radius: 5px;
    width: 17.5rem;
    height: 2.7rem;
    background: bisque;
    text-decoration: none;
}
.login_field> .labelPass{
    padding-top:10px;
}
.inputlabel{
    width: 280px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 12px;
    background-color: #e4e4ee;
    border: 1px solid green;
    
}
.inputLabel-email {
  padding-top: 10px;
}
.labelField1{
    margin-right: 140px;
    color: rgb(106, 100, 100);
}
.labelField2{
    margin-right: 200px;
    color: rgb(106, 100, 100);
}
.submit-btn{
    background: gray;
    color: white;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: rgb(87, 99, 71);
    transition: 500ms;
    text-transform: none;
}
.bottom-link{
    cursor: pointer;
    margin: 0;
}
.forgotPass, .signup{
    font-size: 14px;
}
.nav-page{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    margin-right: 33px;
}
.pagination{
  display: flex;
 font-size: 22px;
 list-style: none;
 text-decoration: none;
}
.page-link{
    text-decoration: none;
}

@media (min-width:350px) and (max-width:750px){
    .login_field{
        width: 30px;
    }
}



